p{
	cursor: pointer;
}


/*dataset*/
.ds-container{
	margin-left: 20px;
	margin-top: 10px;
	display: block;
}


.ds-select-container{
	font-size: 18px;
	display: block;
	height: 30px;
}

.ds-select-container input{
	float: left;
	height: 20px;
	margin: 0px;
}

.ds-select-container .dataset-name{
	float: left;
	margin-left: 10px;
	line-height: 16px;
}

.extend-tag{
	margin-left: 5px;
	font-size: 10px;
}

#btn-container{
	margin-top: 100px;
}


/*assignments tab*/
.assignment-container{
	margin-top: 30px;
	width: 100%;
}

#tab-assignments table thead tr{
	font-weight: bold;
	font-size: 18px;
}


.assignment-title a{
	font-size: 12px;
	font-weight: normal;
}

.assignment-params{
	float: left;
}

.assignment-param{
	margin-left: 10px;
}


.assignment-container table{
	text-align:center; 
	margin-top:20px;
	display:none;
}


/*modal*/
.modal-body .form-group{
	margin-top: 5px;
}

.modal-body .row{
	margin-top: 5px;
}

.modal-body label{
	line-height: 30px;
}

.modal-body .form-control{
	height: 30px;
}

.modal-body select{
	height: 30px;
}


.document-annotation .document-title{
	display: inline-block;
}

.document-judgement{
	float:right;
}

.document-annotation .document-judgement p{
	float: right;
}


