#search-wrapper{
	width: 800px;
}


/********************
	parameter boxes
*********************/
#para-box-container{
	padding: 0px;
	margin-top: 20px;
}

.para-box{
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group{
	display: inline-block;
	margin-left: 20px;
}

.para-box .input-group:first-child{
	margin-left: 0px;
}

.input-group label{
	float: left;
	height: 25px;
	line-height: 25px;
}

.input-group input{
	margin-left: 10px;
	width: 100px;
	height: 25px;
	float: left;
	padding: 0px 5px;
}


/********************
	Results
*********************/
#results-container{
	padding: 0px;
	margin-top: 50px;
	display: none;
}

.result{
	padding: 10px 0px;
	overflow: auto;
}


.doc-info p{
	font-size: 12px;
	color: grey;
}

.btn-container{
	margin-top: 20px;
}

.btn-container button{
	float: right;
	font-size: 11px;
	margin-right: 15px;
}

.button-container .right-btn{
	float: right;
}
