body{
	background-color: #eee;
}

.uploader-container{
	margin-top: 100px;
	background-color: #eee;
	width: 800px;
	padding: 0px;
}

.files-container{
	height: 500px;
	margin-top: 50px;
	background-color: #fff;
	overflow: auto;
	border: 2px solid #cccccc;
	border-radius: 5px;
	box-shadow: 2px 2px #cccccc;
}

/*.curr-uploader{
	display: none;
}


.uploader input{
	display: none;
}*/

.my-btn-group{
	margin-top: 50px;
}

button{
	font-size: 20px;
}