{% extends "content_layout.html" %}
{% block content %}
  <link href="{{ url_for('static', filename='css/assignment.css') }}" rel="stylesheet"/>
  <script src="{{ url_for('static', filename='javascript/assignment.js') }}"></script>

  <script type="text/javascript">
    assignment = {{assignment|tojson}};
    console.log(assignment);
  </script>

  <!-- information panel -->
  <div id="info-panel" class="panel panel-default">
    <div class="panel-heading"><h4>Assignment Info</h4></div>
    <div class="panel-body">
      <h4 id="assignment-query" style="margin-top: 30px;">Query: {{assignment.query}}</h4>
      <h4 id="assignment-ranker">Ranker: {{assignment.ranker}}</h4>
      <h4 id="assignment-params"></h4>
    </div>
  </div><!-- end of information panel -->

  <!-- result panel -->
  <div id="result-panel" class="panel panel-default">
    <div class="panel-heading"><h4>Content</h4></div>
    <div class="panel-body" style="padding:0px;">
      <table class="table table-striped">
        <tbody>

        </tbody>  
      </table>
      <button id="submit-btn" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <!-- modals -->
  <div id="document-modal" class="modal fade" id="document-content" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


{% endblock %}
