<!DOCTYPE html>
  <title>MeTA Search</title>
  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.css')}}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/request.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/global_var.js') }}"></script>
  <body>
    {% block body %}{% endblock %}
  </body>
