{% extends "basic_layout.html" %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-text">Welcome {{current_user.name}}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/{{current_user.role}}">Home</a>
            </li>
        </ul>
        <form class="form-inline" action="/logout" method="post">
            <button class="btn btn-outline-success" type="submit">Log Out</button>
        </form>
    </div>
</nav>

{% block content %}{% endblock %}
{% endblock %}
