{% extends "basic_layout.html" %}

{% block body %}

<div class="jumbotron">
    <h2 class="display-3">Virtual IR Lab</h2>
    <p class="lead">Welcome to CS410</p>
    <hr class="my-4">
    <p>Whatever...</p>


    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <script type="text/javascript">
    $(window).on('load',function(){
        $('#wrong').modal('show');
    });

    </script>

    <div id="wrong" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endwith %}


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin-modal">
        Sign In
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">
        Sign Up
    </button>

    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/login" method="post" id="signin">
                        <div class="form-group">
                            <label for="siemail">Email:</label>
                            <input type="email" class="form-control" name="email" id="siemail">
                        </div>
                        <div class="form-group">
                            <label for="sipwd">Password:</label>
                            <input type="password" class="form-control" name="password" id="sipwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary signupbtn" type="submit" form="signin">Sign In</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/register" method="post" id="signup">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="suemail">Email:</label>
                            <input type="email" class="form-control" name="email" id="suemail">
                        </div>
                        <div class="form-group">
                            <label for="supwd">Password:</label>
                            <input type="password" class="form-control" name="password" id="supwd">
                        </div>
                        <label>Role:</label><br>
                        <label><input type="radio" name="role" value="instructor"> Instructor</label>
                        <label><input type="radio" name="role" value="annotator"> Annotator</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary signupbtn" type="submit" form="signup">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}