{% extends "content_layout.html" %}
{% block content %}
<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <script type="text/javascript">
    $(window).on('load',function(){
        $('#wrong').modal('show');
    });
    </script>

    <div id="wrong" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endwith %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="dataset-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">Datasets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="assignment-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">Assignments</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="dataset-tab">
            <hr class="my-4">
            <a class="btn btn-primary" href="/upload">Upload</a>
            <hr class="my-4">
            {% if datasets|length > 0 %}
            <ul class="list-group">
                {% for dataset in datasets %}
                <li class="list-group-item">
                    <form action="upload" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="ds_name" value="{{dataset[0]}}">
                        <h6>"{{dataset[0]}}" uploaded by {{dataset[1]}}</h6>
                        {% if current_user.name == dataset[1] %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        {% endif %}
                        <button type="button" class="btn btn-outline-warning btn-sm"
                                data-toggle="modal" data-target="#newAssign"
                                onclick="$('#assignment_ds_name').val('{{dataset[0]}}');">Assign
                        </button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h6>No dataset found in system.</h6>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="assignment-tab">

            {% if assignments|length > 0 %}
            <div id="accordion">

                {% for assignment in assignments %}

                <div class="card">
                    <div class="card-header" id="heading{{assignment[0]}}{{assignment[1]}}">
                        <h5 class="mb-0">

                            <button class="btn btn-link" data-toggle="collapse"
                                    data-target="#collapse{{assignment[0]}}{{assignment[1]}}"
                                    aria-expanded="true" aria-controls="collapse{{assignment[0]}}{{assignment[1]}}">
                                {{assignment[0]}}

                            </button>
                            <small class="text-muted">Instructor: {{assignment[1]}}</small>
                        </h5>
                    </div>

                    <div id="collapse{{assignment[0]}}{{assignment[1]}}" class="collapse"
                         aria-labelledby="heading{{assignment[0]}}{{assignment[1]}}"
                         data-parent="#accordion">
                        <div class="card-body">

                            <div id="{{assignment[0]}}{{assignment[1]}}">
                                {% for query in assignments[assignment] %}

                                <div class="card">
                                    <div class="card-header" id="query{{assignment[0]}}{{assignment[1]}}{{query}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapsequery{{assignment[0]}}{{assignment[1]}}{{query}}"
                                                    aria-expanded="true"
                                                    aria-controls="collapsequery{{assignment[0]}}{{assignment[1]}}{{query}}">
                                                {{query}}
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsequery{{assignment[0]}}{{assignment[1]}}{{query}}" class="collapse"
                                         aria-labelledby="query{{assignment[0]}}{{assignment[1]}}{{query}}"
                                         data-parent="#{{assignment[0]}}{{assignment[1]}}">
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">doc</th>
                                                    <th scope="col">score</th>
                                                    <th scope="col">relevant</th>
                                                    <th scope="col">irrelevant</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for doc in assignments[assignment][query] %}
                                                <tr>
                                                    <th scope="row">{{doc}}</th>
                                                    <td>{{assignments[assignment][query][doc]['score']}}</td>
                                                    <td>{{assignments[assignment][query][doc]['relevant']}}</td>
                                                    <td>{{assignments[assignment][query][doc]['irrelevant']}}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h6>No assignment found in system.</h6>
            {% endif %}
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" id="newAssign">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/instructor" method="post" id="assignment_form">
                    <h6>New Assignment</h6>
                    <input type="hidden" name="ds_name" id="assignment_ds_name">
                    <input type="text" name="assignment_name" class="form-control" placeholder="Assignment Name"
                           required>
                    <br>
                    <div class="query">
                        <div class="query-form-group input-group">
                            <input type="text" class="form-control" name="query[]" placeholder="New Query">
                            <span class="input-group-append"><button class="btn btn-success btn-add add-query"
                                                                     type="button">+</button></span>
                        </div>
                    </div>
                    <br>
                    <select id="assignment-ranker" name="ranker">
                        <option disabled selected value>-select a ranker-</option>
                        <option value="OkapiBM25">OkapiBM25</option>
                        <option value="JelinekMercer">JelinekMercer</option>
                        <option value="DirichletPrior">DirichletPrior</option>
                        <option value="AbsoluteDiscount">AbsoluteDiscount</option>
                        <option value="PivotedLength">PivotedLength</option>
                    </select>
                    <div id="assignment-params"></div>
                    <br>
                    <input type="text" name="num_results" class="form-control" placeholder="Number of documents">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="assignment_form">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var addFormGroup = function (event) {
    event.preventDefault();
    var $formGroup = $(this).closest('.query');
    var $multipleFormGroup = $formGroup.closest('.query-form-group');

    if ($formGroup.find('input').val() != '') {
        var $formGroupClone = $formGroup.clone();
        $(this).toggleClass('btn btn-success btn-add add-query btn btn-danger btn-remove remove-query').html('–');
        $formGroupClone.find('input').val('');
        $formGroupClone.insertAfter($formGroup);
    }
};
var removeFormGroup = function (event) {
    event.preventDefault();
    var $formGroup = $(this).closest('.query');
    var $multipleFormGroup = $formGroup.closest('.query-form-group');
    $formGroup.remove();
};
$(document).on('click', '.add-query', addFormGroup);
$(document).on('click', '.remove-query', removeFormGroup);
</script>

<script type="text/javascript">
var search_algorithms = {
	"":[],
	"OkapiBM25":["k1","b","k3"],
	"JelinekMercer":["lambda"],
	"DirichletPrior":["mu"],
	"AbsoluteDiscount":["delta"],
	"PivotedLength":["s"]
};
$("#assignment-ranker").change(function(){
    var ranker = $("#assignment-ranker").val();
    var params = search_algorithms[ranker];

    var html = "";
    for(var i = 0; i < params.length; i++){
        html += "<div><input class='form-control' name=param[] type='text' placeholder='" + params[i] + "' required></div>"
    }
    $("#assignment-params").html(html);
})
</script>

{% endblock %}
