{% extends "content_layout.html" %}

{% block content %}
<div class="container">
	<button class="btn-lg btn-primary">Upload Dataset</button>

	<br>
	<br>
	<h1>History</h1>
	<br>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#upcoming">Upcoming</a></li>
		<li><a data-toggle="tab" href="#waiting">Waiting</a></li>
		<li><a data-toggle="tab" href="#history">History</a></li>
	</ul>

	<div class="tab-content">
		<div id="upcoming" class="tab-pane fade in active">
		  <h3>UPCOMING</h3>
		  <p>Upcoming events</p>
		</div>
		<div id="waiting" class="tab-pane fade">
		  <h3>Waiting</h3>
		  <p>Waiting events</p>
		</div>
		<div id="history" class="tab-pane fade">
		  <h3>HISTORY</h3>
		  <p>History events</p>
		</div>
	</div>
</div>
{% endblock %}