{% extends "layout.html" %}
{% block body %}
  <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet"/>
    <div class="container-fluid">
      <div class="row">
        <div class="dropdown" style="display: inline-block;">
          <button style="width: 150px;" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search Algorithm&nbsp;&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
              <li id="OkapiBM25"><a href="#">Okapi BM25</a></li>
              <li id="PivotedLength"><a href="#">Pivoted Length Normalization</a></li>
              <li id="DirichletPrior"><a href="#">Dirichlet Prior Smoothing</a></li>
              <li id="JelinekMercer"><a href="#">Jelinek-Mercer Smoothing</a></li>
              <li id="AbsoluteDiscount"><a href="#">Absolute Discount Smoothing</a></li>
          </ul>
        </div>
        <div style="width: 450px; display: inline-block;">
          <input type="text" class="form-control" placeholder="Enter a query..." id="query_text">
        </div>

        <span class="input-group-btn" style="display: inline-block;">
          <button style="width:142px; margin-left: 20px;" class="btn btn-primary" type="button" id="search_button">Search
            
          </button>
        </span>
      </div>
    </div>
      
    <div id="para-box-container" class="container-fluid">
      <div class="row">
        <div class="para-box col-md-12">
          <div class="input-group">
            <label>Lamda:</label>
            <input type="" name="">
          </div>
          <div class="input-group">
            <label>Alpha:</label>
            <input type="" name="">
          </div>
          <div class="input-group">
            <label>Lamda:</label>
            <input type="" name="">
          </div>
        </div>
        <div class="para-box col-md-6">
          
        </div>
      </div>
    </div>

    <div id="results-container" class="container-fluid">
      <table class="table table-hover" style="margin: 0;">
        <thead>
          <tr>
            <h3>Result</h3>
          </tr>
        </thead>
        <tbody>
          <tr><td>
            <div class="container-fluid result">
              <div class="row" class="keyword1">
                <div class="col-md-12">
                  <p>keyword1, keyword2</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>This is document1, This is document1, This is document1, This is document1,
                  This is document1, This is document1, This is document1, This is document1,This is document1, This is document1, This is document1, This is document1,</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 doc-info">
                  <p>score: 10 vote: 10 scan: 10</p>
                </div>
                <div class="col-md-4 btn-container">
                  <button class="btn btn-primary">Not Relevant</button>
                  <button class="btn btn-primary">Relevant</button>
                </div>
              </div>
            </div>
          </td></tr>
        </tbody>
      </table>
 
    </div>

{% endblock %}
