{% extends "content_layout.html" %}

{% block content %}
	<!-- css -->
	<link href="{{ url_for('static', filename='css/student.css') }}" rel="stylesheet"/>

	<div class="container-fluid student-page-container">
		<div class="row">
			<div class="col-md-2 side-bar">
				<ul class="side-bar-list">
					<li class="main-bullet">Schedual</li>
					<li id="assignments"class="main-bullet collapse-able">Assignments</li>
						<ul id="assignments-children" class="sub-bullets-container">
							<li class="sub-bullet">Assignments 10</li>
							<li class="sub-bullet">Assignments 9</li>
							<li class="sub-bullet">Assignments 8</li>
						</ul>
					
					<li class="main-bullet">Scores</li>
				</ul>
			</div>
			<div class="col-md-10 content">
				<div class="well assignment-info">
					<h1>Assignment 10</h1>
					<h4 style="margin-top: 30px;">Author: Chengxiang Zhai</h4>
					<h4>Dataset: Smaple dataset</h4>
					<h4>Query: Sample Query</h4>
					<h4>Ranker: Okapi BM25</h4>
					<h4 class="important">Due Data: May 4, 2017</h4>	
				</div>
	
				<button class="btn-lg btn-primary">Start</button>
				<button class="btn-lg btn-primary" style="margin-left: 10px;">Resume</button>
				
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='javascript/student.js') }}"></script>
{% endblock %}