{% extends "basic_layout.html" %}
{% block body %}
	<link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet"/>

	<div class="container-fluid uploader-container">
		<button id="submit-btn" class="btn-lg btn-primary btn-block">Upload Dataset</button>
		
		<form id="files-form" action="/upload" method="POST" accept-charset="utf-8" enctype="multipart/form-data">

		<div id="dataset-input" class="row">
			<label>DataSet Name:</label>
			<input type="text" name="ds_name">
		</div>

			<div class="container-fluid files-container">
			</div>
			<input id="files" name="file" multiple="" type="file" style="display: none">
			<input type="text" name="author" value="dev" style="display: none">
			<input type="text" name="ds_name" value="testdata2" style="display: none">
			<input id="hidden-submit-btn" type="submit" style="display: none">
		</form>

		<div class="row my-btn-group">
			<div class="col-md-4">
				<button id="upload-btn" class="btn btn-primary btn-block">Upload</button>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary btn-block">Select All</button>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary btn-block">Delete</button>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='javascript/upload.js') }}"></script>
{% endblock %}